---
import Layout from "../layouts/Layout.astro";

import TagDisplay from "../components/TagDisplay.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { Tags } from "../others/tags";
import TableOfContent from "../components/TableOfContent.astro";
import { Image } from "astro:assets";
import { getDuration } from "../styles/utilities";


export async function getStaticPaths() {
    const projects = await getCollection("projects");
    
    return projects.map(project => ({
        params: {
            slug: project.slug
        },
        props: {
            project
        }
    }));
} 

interface Project {
    project: CollectionEntry<"projects">,
}

const { project } = Astro.props as Project;
const { Content, headings } = await project.render();
const data = project.data;
const dateOptions: Intl.DateTimeFormatOptions = { day: "numeric", month: "long", year: "numeric" };
// TODO (LOW): Detect the user's location using window.navigator.language
// But need to use <script></script>
const userLocale="en-UK";
// TODO (LOW): Table of content with headings? 
// console.log(headings);

let duration = "";
if (data.startDate && data.releaseDate)
{
    duration = getDuration(data.startDate, data.releaseDate);
}

---

<Layout title={data.title} description={data.shortDescription}>
    <article>
        <div class="layout-container">
            <div class="filler"></div>
                <div class="card">
                    <h1>{data.title}</h1>
                    <Image src={data.thumbnailPath} alt={data.title + " thumbnail"} transition:name=`project-img-${data.title}` loading={"eager"}/>
                    <!-- TODO: display Tags and any other metadata beside the Image. Currently the thumbnail image has a lot of empty space on the sides. -->
                    <div style="height: 25px;"></div> <!-- Small block to separate img and tags -->
                    <TagDisplay tags={data.tags} project={data.title}/>
                    { data.releaseDate ? 
                        <p>Date: <span class="date">{data.startDate.toLocaleDateString(userLocale, dateOptions)} - {data.releaseDate.toLocaleDateString(userLocale, dateOptions)} ({duration})</span></p>
                        :
                        <p>Date: <span class="date">{data.startDate.toLocaleDateString(userLocale, dateOptions)} - Ongoing</span></p>
                    }
                    <ul class="list-of-links">
                        <li>{data.projectLink != null && <a href={data.projectLink} class="inlineBtn" target="_blank">Project Link</a>}</li>
                        <li>{data.githubLink != null && <a href={data.githubLink} class="inlineBtn" target="_blank">GitHub Link</a>}</li>
                    </ul>
                    
                    <!-- <h2>Description</h2>
                    <p>{data.shortDescription}</p> -->
                    <!-- <hr> -->
                    <div class="markdown">
                        <Content />
                    </div>
                </div>
            <TableOfContent headings={headings} class:list={"test"}/>
        </div>
    </article>
</Layout>

<style>
    /* To "counter-act table of content and make the main content center" */
    .filler {
        max-width: 250px;
        /* TODO: Set a max-width variable and change this hardcoded value (1500px) */
        width: calc(100vw - 1500px);
        /* width: max(250px, ); */
    }
    .layout-container {
        gap: 0px;
        display: flex;
        justify-content: center;
        margin: 50px auto;
        padding: 0px 30px;
        max-width: 1500px;
        
        flex-direction: row;
        transition: all 0.5s;
    }

    .list-of-links {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: .75rem;
    }

    .list-of-links li {
        padding-right: 15px;
    }

    img {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        object-fit: contain;
        height: unset;
    }

    @media screen and (max-width: 850px) {
        .layout-container {
            padding: 0;
            margin: 0;
        }
    }
</style>

<!-- Markdown styling needs to be global: https://github.com/withastro/astro/issues/3045 -->
<style is:global>
    
    .markdown img {
        width: 100%;
        height: unset;
        max-width: 500px;
        max-height: 100vh;
        margin: 20px auto;
        object-fit: contain;
    }

    .markdown a {
        text-decoration: underline;
    }

    .markdown h2 {
        margin-bottom: 0.5em;
        /* font-size: 1.75em; */
    }

    table, th, td {
        border: 2px solid #333;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding: 6px 12px;
    }

    code {
        background-color: #444;
        padding: 0.2em 0.4em;
        border-radius: 7px;
    }

</style>

<script>
    const links = document.getElementsByTagName("a");
    for (let i = 0; i < links.length; i++) {
        const link = links[i];
        const url = new URL(link.href);
        if (url.host !== window.location.host)
            link.target = "_blank";    
    }
</script>