---
import Layout from "../layouts/Layout.astro";

import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const cards = await getCollection("projects");
---

<Layout title = "Projects" description="Portfolio Projects">
	<h1>Projects</h1>
    <section>
        <div class="container">
            {cards.map(card => (
                card.data.ifShow &&
                <ProjectCard 
                    title={card.data.title} 
                    description={card.data.shortDescription} 
                    thumbnailPath={card.data.thumbnailPath}
                    slug={card.slug}
                    tags={card.data.tags}
                />
            ))}
        </div> 
    </section>
</Layout>   