---
import type { Tags } from '../others/tags';
import TagDisplay from './TagDisplay.astro';
import { Image } from "astro:assets";

export interface ZodImageProps {
    height: number;
    src: string;
    width: number;
    format: "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
}

export interface Props {
    title: string;
    description: string;
    thumbnailPath: ZodImageProps;
    slug: string;
    tags: Tags[];
};

const {title, description, thumbnailPath, slug, tags} = Astro.props as Props;
---

<div class='card' id={title}>
        <div class="projectCard" data-tags={tags}>
        <Image src={thumbnailPath} alt={title + " thumbnail"} class="thumbnail" />
        <!-- TODO: Make image linkable too after converting to astro's new image component -->
        <!-- {thumbnailPath !== '' && <img src = "../images/EventRegistration/EventRegistration_CreateEvent.png" alt={title + " thumbnail"} class="thumbnail" />} -->
        <div class="details">
            <h2>
                <a href={`/${slug}`}>{title}</a>
            </h2>
            <TagDisplay tags={tags} project={title} isSmall={true}/>
            <p>{description}</p>
        </div>
    </div>
</div> 

<style>
    .projectCard {
        display: flex;
        align-items: center;
    }

    .projectCard .thumbnail {
        display: inline-block;
        object-fit: contain;
        height: unset;
        width: 30%;
    }
    
    .projectCard .details {
        display: inline-block;
        margin-left: 10px;
        flex-grow: 1;
    }

    h2 {
        margin-bottom: 0;
    }

    h2 a {
        text-decoration: none;
        color: var(--color-text);
    }

    p {
        margin-top: 0;
        width: 100%;
    }

    @media screen and (max-width: 750px) {
        .projectCard {
          flex-direction: column;
          align-items: flex-start;
        }
        
        .projectCard .thumbnail {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
    }

</style>