---
import type { Tags } from '../others/tags';
import TagDisplay from './TagDisplay.astro';

export interface Props {
    title: string;
    description: string;
    thumbnailPath?: string;
    slug: string;
    tags: Tags[];
};

const {title, description, thumbnailPath = '', slug, tags} = Astro.props as Props;

---

<div class='card' id={title}>
    <div class="projectCard" data-tags={tags}>
        {thumbnailPath !== '' && <img src = {thumbnailPath} alt={title + " thumbnail"} class="thumbnail" />}
        <div class="details">
            <h3>{title}</h3>
            <TagDisplay tags={tags} project={title} isSmall={true}/>
            <p>{description}</p>
        </div>
    </div>
    <a class="btn" href={`/${slug}`}>Read More</a>
</div> 

<style>
    .projectCard {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .projectCard .thumbnail {
        display: inline-block;
        width: 30%;
    }
    
    .projectCard .details {
        display: inline-block;
        margin-left: 10px;
        flex-grow: 1;
    }

    h3 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        width: 100%;
    }

    @media screen and (max-width: 750px) {
        .projectCard {
          flex-direction: column;
          align-items: flex-start;
        }
        
        .projectCard .thumbnail {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
    }

</style>